// FONTS
$font-Museo-300: "Museo Sans Rounded 300";
$font-Museo-500: "Museo Sans Rounded 500";
$font-Museo-700: "Museo Sans Rounded 700";
$font-Museo-900: "Museo Sans Rounded 900";

// COLORS
$color-primary: #293a8c;
$color-black: #292929;
$color-white: #e1e2e2;
$color-darkgray: #616d76;